<div ng-switch="viewMode">
    <div ng-switch-when="grouplist">

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <!--<h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-table fa-fw "></i>
                        Settings
                        <span>
                            >
                            All Modules
                        </span>
                    </h1>-->
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

                </div>
            </div>

            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-10">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>{{title}} </h2>

                                <div class="widget-toolbar">
                                    <button class="btn btn-info btn-sm" data-ng-click="loadGroups()">Refresh <i class="glyphicon glyphicon-refresh"></i></button>

                                </div>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->


                                <div class="widget-body no-padding">
                                    <!--<div class="text-left">
                                        <button class="btn btn-success" ng-click="createGroup()">
                                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Create</span>
                                        </button>

                                    </div>-->

                                    <div class="widget-body-toolbar">

                                        <div class="btn-group">
                                            <button class="btn btn-primary btn-xs" ng-click="createGroup()">
                                                Create
                                            </button>
                                            <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
                                                Import
                                            </button>
                                        </div>
                                    </div>

                                    <div ng-show="init && groups.length > 0">
                                        <table id="groupTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display table-condensed" width="100%" ">

                                            <thead>
                                                <tr>
                                                    <th class="hasinput" style="width:250px">
                                                        <input type="text" class="form-control" placeholder="Filter Name" />
                                                    </th>

                                                </tr>
                                                <tr>
                                                    <th width="250px">Name</th>

                                                    <th width="70px">State</th>
                                                    <th width="200px">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="group in groups">
                                                    <td>{{group.Name}}</td>

                                                    <td>{{groupStatus(group.Active)}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="viewGroup(group.GroupId)">
                                                            <i class="glyphicon glyphicon-edit"></i>
                                                            View
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="deleteGroup(group.GroupId)">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                            Delete
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                    <h4 class="alert alert-info" ng-show="init && groups.length == 0">
                                        Click create to create a group.The group is use to categorize users into different operation role.
                                    </h4>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->


                    </article>
                    <!-- WIDGET END -->

                </div>

                <!-- end row -->
                <!-- end row -->

            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->
        <div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Upload CSV File</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">
                                    <input class="btn btn-default" type="file" name="file" onchange="angular.element(this).scope().getFile(this)">
                                    <p class="help-block">
                                        upload your file here.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="importcsv(csvfile)">
                            Import
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
    <div ng-switch-when="success">

    </div>
</div>
