<div ng-switch="viewMode">
    <div ng-switch-when="roleedit">
        
        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <!--<h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-table fa-fw "></i>
                        Settings
                        <span>
                            >
                            All Modules
                        </span>
                    </h1>-->
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

                </div>
            </div>

            <!-- widget grid -->
            <section id="widget-grid" class="" >

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12 col-lg-8">
                       
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>{{title}} </h2>

                                <div class="widget-toolbar">
                                    <button class="btn btn-info btn-sm" data-ng-click="loadRoles()">Refresh <i class="glyphicon glyphicon-refresh"></i></button>
                                    
                                </div>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
                               
                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->

                                
                                <div class="widget-body no-padding">
                                    <!--<div class="text-left">
                                        <button class="btn btn-success" ng-click="createRole()">
                                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Create</span>
                                        </button>
                                      
                                    </div>-->

                                    <form class="form-horizontal">
                                        <br/>
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Name</label>
                                                <div class="col-md-5">
                                                    <input class="form-control" placeholder="Role name" type="text" ng-model="roleModel.Name">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Module</label>
                                                <div class="col-md-5">
                                                    <select class="form-control" ng-model="roleModel.ModuleId" ng-options="module.ModuleId as module.Alias for module in modules" style="width:350px;"></select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Description</label>
                                                <div class="col-md-7">
                                                    <textarea class="form-control" placeholder="Role description" rows="4" ng-model="roleModel.Description"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label"></label>
                                                <div class="col-md-5">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-model="roleModel.Active">
                                                            Active
                                                        </label>
                                                    </div>
                                                   
                                                </div>
                                            </div>


                                        </fieldset>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-default" type="button" ng-click="cancel()">
                                                        Discard
                                                    </button>
                                                    <button class="btn btn-primary" type="button" ng-click="save()">
                                                        <i class="fa fa-save"></i>
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                   
                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->


                    </article>
                    <!-- WIDGET END -->

                </div>

                <!-- end row -->
                <!-- end row -->

            </section>
            <!-- end widget grid -->

            <div ng-show="init && roleModel !== 0">
                <!-- widget grid -->
                <section id="wdtRoleMenu" class="">

                    <!-- row -->
                    <div class="row">

                        <!-- NEW WIDGET START -->
                        <article class="col-sm-12 col-md-12 col-lg-6">

                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                                <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                    <h2>Menus</h2>

                                    <div class="widget-toolbar">
                                        <!--<button class="btn btn-info btn-sm" data-ng-click="loadRoleMenus()">Refresh <i class="glyphicon glyphicon-refresh"></i></button>-->

                                    </div>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->


                                    <div class="widget-body no-padding">
                                        <!--<div class="text-left">
                                    <button class="btn btn-success" ng-click="createRole()">
                                        <i class="fa fa-plus"></i> <span class="hidden-mobile">Create</span>
                                    </button>

                                </div>-->

                                        <div class="widget-body-toolbar">

                                            <div class="btn-role">
                                                <button class="btn btn-primary btn-sm" ng-click="createRoleMenu()">
                                                    Add Menu
                                                </button>
                                         
                                            </div>
                                        </div>

                                        <div ng-show="init && roleMenuModels.length > 0">

                                            <div ng-show="viewModelHelper.modelIsValid == false" class="alert alert-danger">
                                                <h4 class="alert-heading">Errors!</h4>
                                                <ul data-ng-repeat="e in viewModelHelper.modelErrors">
                                                    <li>{{ e }}</li>
                                                </ul>
                                            </div>

                                            <table id="roleMenuTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display table-condensed" width="100%">

                                                <thead>
                                                    <tr>
                                                        <th class="hasinput" style="width:200px">
                                                            <input type="text" class="form-control" placeholder="Filter Menu" />
                                                        </th>
                                                        <th class="hasinput" style="width:200px">
                                                            <input type="text" class="form-control" placeholder="Filter Module" />
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th width="300px">Menu</th>
                                                        <th width="300px">Module</th>
                                                        <!--<th width="300px">Role</th>-->

                                                        <th width="70px">State</th>
                                                        <th width="20%">Action</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="roleMenu in roleMenuModels">
                                                        <td>{{roleMenu.MenuName}}</td>
                                                        <td>{{roleMenu.ModuleName}}</td>
                                       

                                                        <td>{{roleMenuStatus(roleMenu.Active)}}</td>
                                                        <td>
                                                            
                                                            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteRoleMenu(roleMenu.RoleMenuId)">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                                Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                        <h4 class="alert alert-info" ng-show="init && roleMenuModels.length == 0">
                                            Click create to create a role menu.The role menu is use to map role to different operation menus.
                                        </h4>

                                    </div>
                                    <!-- end widget content -->

                                </div>
                                <!-- end widget div -->

                            </div>
                            <!-- end widget -->
                        </article>
                        <!-- WIDGET END -->

                    </div>

                    <!-- end row -->
                    <!-- end row -->

                </section>
                <!-- end widget grid -->
            </div>

            </div>
        <!-- END MAIN CONTENT -->
        <div>
         
        </div>
    </div>
    <div ng-switch-when="success">
        
    </div>
</div>
