<div ng-switch="viewMode">
    <div ng-switch-when="stateedit">
        
        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <!--<h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-table fa-fw "></i>
                        Settings
                        <span>
                            >
                            All Modules
                        </span>
                    </h1>-->
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

                </div>
            </div>

            <!-- widget grid -->
            <section id="widget-grid" class="" >

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12 col-lg-6">
                       
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>{{title}} </h2>

                                <div class="widget-toolbar">
                                    <button class="btn btn-info btn-sm" data-ng-click="loadState()">Refresh <i class="glyphicon glyphicon-refresh"></i></button>
                                    
                                </div>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
                               
                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->

                                
                                <div class="widget-body no-padding">
                                    <!--<div class="text-left">
                                        <button class="btn btn-success" ng-click="createGroup()">
                                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Create</span>
                                        </button>
                                      
                                    </div>-->

                                    <form class="form-horizontal">
                                        <br/>
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Code</label>
                                                <div class="col-md-5">
                                                    <input class="form-control" placeholder="State code" type="text" ng-model="stateModel.Code" style="width:150px;background-color:#f8e1e1">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Name</label>
                                                <div class="col-md-5">
                                                    <input class="form-control" placeholder="State name" type="text" ng-model="stateModel.Name" style="width:350px;background-color:#f8e1e1">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label"></label>
                                                <div class="col-md-5">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-model="stateModel.Active">
                                                            Active
                                                        </label>
                                                    </div>
                                                   
                                                </div>
                                            </div>


                                        </fieldset>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-default" type="button" ng-click="cancel()">
                                                        Discard
                                                    </button>
                                                    <button class="btn btn-primary" type="button" ng-click="save()">
                                                        <i class="fa fa-save"></i>
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                   
                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->


                    </article>
                    <!-- WIDGET END -->

                </div>

                <!-- end row -->
                <!-- end row -->

            </section>
            <!-- end widget grid -->

            <!-- widget grid -->
            <section id="wdtState" class="">

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12 col-lg-6">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>Cities</h2>

                                <div class="widget-toolbar">
                                    <!--<button class="btn btn-info btn-sm" data-ng-click="loadGroupRoles()">Refresh <i class="glyphicon glyphicon-refresh"></i></button>-->

                                </div>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->


                                <div class="widget-body no-padding">
                                    <!--<div class="text-left">
                                <button class="btn btn-success" ng-click="createGroup()">
                                    <i class="fa fa-plus"></i> <span class="hidden-mobile">Create</span>
                                </button>

                            </div>-->

                                    <div class="widget-body-toolbar">

                                        <div class="btn-group">
                                            <button class="btn btn-primary btn-sm" ng-click="createCity()">
                                                Create
                                            </button>
                                            <button class="btn btn-default btn-sm" ng-click="importCity()">
                                                Import
                                            </button>
                                        </div>
                                    </div>

                                    <div ng-show="init && cityModels.length > 0">

                                        <div ng-show="viewModelHelper.modelIsValid == false" class="alert alert-danger">
                                            <h4 class="alert-heading">Errors!</h4>
                                            <ul data-ng-repeat="e in viewModelHelper.modelErrors">
                                                <li>{{ e }}</li>
                                            </ul>
                                        </div>

                                        <table id="stateTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display table-condensed" width="100%">

                                            <thead>
                                                <tr>
                                                    <th class="hasinput" style="width:100px">
                                                        <input type="text" class="form-control" placeholder="Filter Code" />
                                                    </th>
                                                    <th class="hasinput" style="width:300px">
                                                        <input type="text" class="form-control" placeholder="Filter Name" />
                                                    </th>

                                                    <th class="hasinput" style="width:300px">
                                                        <input type="text" class="form-control" placeholder="Filter State" />
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th width="100px">Code</th>
                                                    <th width="300px">Name</th>
                                                    <th width="300px">State</th>
                                                    
                                                    <th width="70px">Status</th>
                                                    <th width="20%">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="city in cityModels">
                                                    <td>{{city.Code}}</td>
                                                    <td>{{city.Name}}</td>
                                                    <td>{{city.StateName}}</td>
         
                                                    <td>{{cityStatus(city.Active)}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="viewCity(city.CityId)">
                                                            <i class="glyphicon glyphicon-edit"></i>
                                                            View
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="deleteCity(city.CityId)">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                            Delete
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                    <h4 class="alert alert-info" ng-show="init && cityModels.length == 0">
                                        Click create to create a city.The city is use to manage state's cities.
                                    </h4>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->
                    </article>
                    <!-- WIDGET END -->

                </div>

                <!-- end row -->
                <!-- end row -->

            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->
        <div>
         
        </div>
    </div>
    <div ng-switch-when="success">
        
    </div>
</div>
