@{
    ViewBag.PageId = "Change Passwords";
}

@section pagespecific
{
  <script src="@Url.Content("~/app/core/controllers/ChangePasswordViewModel.js")" type="text/javascript"></script>
}
@section footerScript
{
    angular.bootstrap(document.getElementById("changePassword"),['changePassword']);
}

<div data-ng-app="changePassword" id="changePassword">
    @*@Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")*@
    <div ng-view></div>
</div>


