@{
    ViewBag.PageId = "Countries";
}

@section pagespecific
{
  <script src="@Url.Content("~/app/core/controllers/CountryViewModel.js")" type="text/javascript"></script>
}
@section footerScript
{
    angular.bootstrap(document.getElementById("country"),['country']);
}

<div data-ng-app="country" id="country">
    @*@Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")*@
    <div ng-view></div>
</div>


