@{
    ViewBag.PageId = "Groups";
}

@section pagespecific
{
  <script src="@Url.Content("~/app/core/controllers/GroupViewModel.js")" type="text/javascript"></script>
}
@section footerScript
{
    angular.bootstrap(document.getElementById("group"),['group']);
}

<div data-ng-app="group" id="group">
    @*@Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")*@
    <div ng-view></div>
</div>


