@{
    ViewBag.PageId = "Languages";
}

@section pagespecific
{
  <script src="@Url.Content("~/app/core/controllers/LanguageViewModel.js")" type="text/javascript"></script>
}
@section footerScript
{
    angular.bootstrap(document.getElementById("language"),['language']);
}

<div data-ng-app="language" id="language">
    @*@Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")*@
    <div ng-view></div>
</div>


