@{
    ViewBag.PageId = "Menus";
}

@section pagespecific
{
  <script src="@Url.Content("~/app/core/controllers/MenuViewModel.js")" type="text/javascript"></script>
}
@section footerScript
{
    angular.bootstrap(document.getElementById("menu"),['menu']);
}

<div data-ng-app="menu" id="menu">
    @*@Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")*@
    <div ng-view></div>
</div>


