@{
    ViewBag.PageId = "Module";
}

@section pagespecific
{
  <script src="@Url.Content("~/app/core/controllers/ModuleViewModel.js")" type="text/javascript"></script>
}
@section footerScript
{
    angular.bootstrap(document.getElementById("allApp"),['allApp']);
}

<div data-ng-app="allApp" id="allApp">
    @*@Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")*@
    <div ng-view></div>
</div>


