@{
    ViewBag.PageId = "Roles";
}

@section pagespecific
{
  <script src="@Url.Content("~/app/core/controllers/RoleViewModel.js")" type="text/javascript"></script>
}
@section footerScript
{
    angular.bootstrap(document.getElementById("role"),['role']);
}

<div data-ng-app="role" id="role">
    @*@Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")*@
    <div ng-view></div>
</div>


