@{
    ViewBag.PageId = "User Groups";
}

@section pagespecific
{
  <script src="@Url.Content("~/app/core/controllers/UserGroupViewModel.js")" type="text/javascript"></script>
}
@section footerScript
{
    angular.bootstrap(document.getElementById("userGroup"),['userGroup']);
}

<div data-ng-app="userGroup" id="userGroup">
    @*@Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")*@
    <div ng-view></div>
</div>


